# Pour production (Supabase/Neon) : remplace par l'URL PostgreSQL
DATABASE_URL="postgresql://postgres:PASSWORD@db.xxxxxxx.supabase.co:5432/postgres"

NEXTAUTH_SECRET="change-me-in-production"
NEXTAUTH_URL="http://localhost:3000"
